.header {
    width: 1340px;
    margin: 92px auto 92px;
    font-size: 18px;
}

.header-without-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links-list {
    display: flex;
    gap: 31px;
}

.header-link-active {
    text-decoration: none;
}

.header-links-list-item-no-bullit {
    list-style-type: none;
}

.header-links-list-item {
    list-style-type: circle;
}

.link-logo {
    display: block;
    width: 136px;
    position: absolute;
    top: 92px;
    left: 652px;
}

.address {
    width: 240px;
}

.line-height-address {
    line-height: 135%;
}
