.header {
    width: 93%;
    margin: 92px auto 92px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header-links-list {
    display: flex;
    gap: 31px;
}

.header-link-active {
    text-decoration: none;
}

.header-links-list-item-no-bullit {
    list-style-type: none;
}

.header-links-list-item {
    list-style-type: circle;
}

.link-logo {
    display: block;
    width: 136px;
    justify-self: center;
}

.address {
    max-width: 240px;
    font-style: normal;
    justify-self: right;
}

.line-height-address {
    line-height: 135%;
}

.cover {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: 60%;
    width: 100%;
    height: 100%;
}

.cover-img {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cover-title {
    position: relative;
    z-index: 2;
    width: 100%;
    display: inline-block;
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block; 
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    line-height: 140%;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 100%;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover-description {
    position: relative;
    z-index: 2;
    font-size: 22px;
    color: #fff;
    width: 100%;
    text-align: right;
    display: inline-block;
}

.cover-description-text {
    display: contents;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    padding: 12px 32px;
    margin-left: 53px;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: inherit;
}

.lots {
    width: 93.1%;
    margin: 180px auto 180px;
}

.lots-heading {
    font-size: 40px;
    margin: 0 auto 27px 40px;
    text-transform: uppercase;
}

.lots-card-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    
}

.lots-card-list-item {
    width: 430px;
    margin-bottom: 30px;
    flex-grow: 1;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    color: #fff;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    padding: 50px 40px 50px;
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    padding: 50px 40px 50px;
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    padding: 50px 40px 50px;
}

.card-title {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.card-text {
    position: relative;
    font-size: 20px;
    z-index: 2;
    text-decoration: none;
}

.lots-look-more-link {
    display: block;
    margin-left: 40px;
    font-size: 20px;
}

.about {
    width: 93%;
    margin: 0 auto 180px;
    display: grid;
    grid-template-columns: 430px 2fr;
    gap: 25px;
}

.about-column {
    display: flex;
    justify-content: center;
}

.about-logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.about-logo-image {
    width: 148px;
}

.about-title {
    margin-top: 103px;
    font-size: 40px;
    text-transform: uppercase;
}

.about-text {
    font-size: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    width: 93%;
    margin: 180px auto 90px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.footer-menu-list {
    list-style-type: none;
    text-align: center;
}

.footer-menu-link-active {
    text-decoration: none;
}

.footer-social-list {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

.footer-social-icon {
    width: 48px;
}