.header {
    width: 1340px;
    margin: 92px auto 92px;
    font-size: 18px;
}

.header-without-logo {
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links-list {
    display: flex;
    gap: 31px;
}

.header-link-active {
    text-decoration: none;
}

.header-links-list-item-no-bullit {
    list-style-type: none;
}

.header-links-list-item {
    list-style-type: circle;
}

.link-logo {
    display: block;
    width: 136px;
    position: absolute;
    top: 92px;
    left: 652px;
}

.address {
    width: 240px;
}

.line-height-address {
    line-height: 135%;
}

.cover {
    position: relative;
    width: 1440px;
    height: 757px;
}

.overlay {
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: 60%;
    width: inherit;
    height: inherit;
}

.cover-img {
    height: 757px;
}

.cover-title {
    position: absolute;
    z-index: 2;
    top: 163px;
    left: 50px;
    width: 1340px;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 30px;
}

.aligned-text {
    display: block; 
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    line-height: 140%;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 100%;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover-description {
    position: absolute;
    z-index: 2;
    top: 655px;
    font-size: 22px;
    color: #fff;
    width: 1340px;
    left: 50px;
    text-align: right;
    display: inline;
}

.cover-description-text {
    display: contents;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    padding: 12px 32px;
    margin-left: 53px;
    border: 1px solid #fff;
}

.lots {
    width: 1340px;
    margin: 180px auto 180px;
}

.lots-heading {
    font-size: 40px;
    margin: 0 auto 27px 40px;
}

.lots-card-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    width: 430px;
    height: 450px;
}

.card-content {
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding: 50px 40px 50px;
    color: #fff;
    z-index: 2;
}

.card-title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card-text {
    font-size: 20px;
}

.lots-look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
}

.about {
    width: 1340px;
    margin: 0 auto 180px;
    display: grid;
    grid-template-columns: 430px 2fr;
    gap: 25px;
}

.about-column {
    display: flex;
    justify-content: center;
}

.about-logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.about-logo-image {
    width: 148px;
}

.about-title {
    margin-top: 103px;
    font-size: 40px;
    text-transform: uppercase;
}

.about-text {
    font-size: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    width: 1340px;
    margin: 180px auto 90px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.footer-menu-list {
    list-style-type: none;
    text-align: center;
}

.footer-menu-link-active {
    text-decoration: none;
}

.footer-social-list {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

.footer-social-icon {
    width: 48px;
}